<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Корзина пользователя {{ cart.user.username }}</h1>
<form method="post">
    <ul>
        {% for item in cart.products.all %}
            <li><input type="checkbox" name="{{ item.product.pk }}">
                {{ item.product.name }}
                {{ item.product.payment_price }}
                {{ item.product.payment_currency }}
                {{ item.quantity }}
            </li>
        {% endfor %}
        {% csrf_token %}
        <button type="submit">Оплатить -- {{ total_price }}</button>
    </ul>
</form>
</body>
</html>