{% extends 'Product/index.html' %}
{% load static %}
{% block title %}Product{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'Product/css/items.css' %}">
{% endblock %}
{% block content %}
    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">{{ page_obj.number }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </div>
    {% endif %}
    {% for prod in products %}
        {% if prod.count > 0 %}
            <div class="block">
                <h1>Название - {{ prod.name }} meow</h1>
                <h2>Описание - {{ prod.description }}</h2>
                <h2>Категория - {{ prod.category.name }}</h2>
                <h2>Марка - {{ prod.mark }}</h2>
                <h2>Количество - {{ prod.count }}</h2>
                <h2>Цена - {{ prod.payment.price }} {{ prod.payment.currency.upper }}</h2>
                <h2>Характеристики:</h2>
                <ul>
                    {% for prop in prod.properties.all %}
                        <li>{{ prop }} : {{ prop.value }}</li>
                    {% endfor %}
                </ul>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="{{ form.product.name }}" value="{{ prod.pk }}">
                    <input type="hidden" name="{{ form.cart.name }}" value="{{ user.cart.pk }}">
                    {{ form.quantity.label_tag }} {{ form.quantity }}
                    <button type="submit">Добавить в корзину</button>
                </form>
                {#                <form method="post">#}
                {#                    {% csrf_token %}#}
                {#                    {{ form.quantity }}#}
                {#                    <input type="hidden" name="product_id" value="{{ prod.id }}">#}
                {#                    <button type="submit">Добавить в корзину</button>#}
                {#                </form>#}
            </div>
        {% endif %}
    {% endfor %}
    <script src="{% static 'Product/js/product.js' %}"></script>
{% endblock %}